  * {
    font-family: 'Jua', sans-serif;
    font-family: 'Montserrat', sans-serif;
    }
h1{
  text-align: center;
  color: lightblue;
}

  .month{
    color: lightblue;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .rating{
    color: lightblue;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #grid{
    border: 5px solid ivory;
    display: grid;
    grid-template-columns: 600px 1fr;
  }
  hr {
    height: 2px;
    background-color: lightblue;
    border: none;
  }

  body {background-color: ivory;}

  .img-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: space-evenly;
    grid-gap: 20px;
  }

  .img-item {
    text-align: center;
  }

  .img-item > img {
    width:350px;
    height:350px;
    padding-bottom: 14px;
  }

  .img-item > a {
    text-decoration: none;
    font-weight: bold;
  }

  .img-item > img {
    border-radius: 24px;
  }
